.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: solid 2px yellow;
}

.square {
    width: 60px;
    height: 60px;
}

.snake {
    background-image: url("../img/pusle_stare.png");
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-position: center; /* Centers the image */
    background-size: cover; /* Resizes the image to cover the entire container */
}

.fruit {
    background-image: url("../img/fruit.png");
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-position: center; /* Centers the image */
    background-size: cover; /* Resizes the image to cover the entire container */
}
