
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href = "../static/css/style.css">
    <script src="../static/java/main.js" defer> </script>
    {% block sheets%}
    
    {% endblock%}

</head>

<body>
<nav class = "navbar">
    <a href="/">Gå til hjemsiden</a>
    <a href="/cookie">Gå til mug</a>
    <a href="/pong">Gå til pong</a>
    <a href="/pong2">Gå til pong2</a>

 </nav>

{% block content %}
{% endblock %}
</body>
</html>

