
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href = "../static/css/style.css">
    {% block sheets%}
    
    {% endblock%}

</head>

<body>
<nav class = "navbar">
    <a href="/">Tilbake til innlogging</a>
    <a href="/welcome">Gå til hjemsiden</a>
    <a href="/mug">Gå til mug</a>
    <a href="/pong">Gå til breakout</a>
    <a href="/scores">Gå til highscores</a>
    <a href="/snake">Gå til snake</a>
    <a href="/plat">Gå til platformer</a>
    <a href="/rediger">Rediger bruker</a>
 </nav>

{% block content %}
{% endblock %}
</body>
</html>

