{% extends "base.html" %}

{% block sheets%}
<link rel="stylesheet" href = "../static/css/mug.css">
<!--jeg måtte søke med chat for å finne ut hvordan man kommenterer med sql!-->
<!--jeg måtte også søke hvordan man lagrer score som kommer fra html inn i javascript-->
<script>
    const sqlscore = {{ score }};
</script>

<script src="../static/java/mainmug.js" defer> </script>
<script src="../static/java/mug.js" defer> </script>
{% endblock%}

{% block content %}
<p id = reset>reset</p>
<p>reset sets your score to 0. keeps your highest score on the leaderboard</p>
<p id = nettshop>gå til butikken</p>
<p id = nettmug>gå til mug</p>
<h1>MUG</h1>
<img id = MUG src ="../static/img/mug.png" alt="mug">
<p id = score></p>


{% endblock %}