{% extends "base.html" %}

{% block sheets %}
<link rel="stylesheet" href="../static/css/mug.css">

<script>
    const sqlscore = {{ sqlscore | tojson }};
</script>

<script src="../static/java/mainmug.js" defer></script>
{% endblock %}

{% block content %}

<h1 tabindex="0">Mug clicker</h1>

<p id="reset" tabindex="0">reset</p>
<p tabindex="0">reset sets your score to 0. keeps your highest score on the leaderboard</p>

<p id="netshop" tabindex="0">gå til butikken</p>
<p id="nettmug" tabindex="0">gå til mug</p>

<h1 tabindex="0">MUG</h1>

<img id="MUG" src="../static/img/mug.png" alt="dette er mugen du klikker for å øke score" tabindex="0">

<p id="score" tabindex="0"></p>
<p id="save" tabindex="0">save</p>
{% endblock %}