Data Innsamlet: 
Vi samler inn alder og brukernavn og scoren din hvis du lager en bruker og spiller.
Vi anbefaler å ikke bruke ditt ekte navn i hverken passord eller brukernavn siden det kan redusere sikkerhet.
Det kan også gjøre at du er mer identifiserbar blant våre spillere.
Vi ber deg også ikke å ha brukernavnet som noe som kan ses som hatbart mot andre.
Vi samler også inn komentarer som du skriver.
Vi ber brukeren ikke skrive kommentarer som inneholder banneord eller unødvendige ting.

Bruking av data innsamlet: 
Vi bruker denne infoen til å lagre scorene dine og skjekke om du er gammel nok til å spille. 
Aldersgrensen for å spille er 13år selv med foreldrer sin tillatelse.
Vi samler komentarer for å forbedre spillet og komentarer som er blitt fikset eller er feil blir fjernet.

Data Security: 
...

User Rights: 
Du kan få tilgang til din konto ved å klikke på lenken i navigasjonsbaren som sier rediger kontoen.
Dette leder deg til en side som lar deg endre passord eller brukernavn til noen som er tillat. 
Du kan også slette kontoen ved å klikke knappen som sier slett min bruker.
Du får en varsel som skjekker om du er sikker på at dette ikke er et uhell som du kan godkjenne.
Etter godkjenning av at du vil slette din bruker blir du spurt om brukernavn for brukeren du er logget inn som.
Hvis du har skrivet riktig passord og brukernavn blir du logget ut og sendt til logginsiden.
for å dobbelskjekke at brukeren din er slettet kan du prøve å logge in (ikke registrer) med den gamle brukeren.
Hvis dette ikke funker og du fortsatt kan logge inn kan du sende melding til (email) for manuell sletting.