{% extends "base.html" %}

{% block sheets%}
{% endblock%}

{% block content %}
<h1>Redigering av bruker</h1>
<p>Du er logget inn som {{name}}</p> 
<p>Under har du valg for å endre eller slette kontoen</p>
<p>Rediger brukernavn</p>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username }}<br>
    {% for error in form.username.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
    {{ form.submit }}
</form>
<p>Rediger passord</p>
<form method="POST">
    {{ form2.hidden_tag() }}
    {{ form2.password.label }} {{ form2.password }}<br>
    {% for error in form2.password.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
    {{ form2.passubmit }}
</form>


<p>Slett bruker</p>
<form method="POST">
    {{ form3.hidden_tag() }}
    {{ form3.delusername.label }} {{ form3.delusername }}<br>
    {{ form3.delpassword.label }} {{ form3.delpassword }}<br>
    {% for error in form3.delusername.errors %}
        <p style="color:red">{{ error }}</p>
    {% endfor %}
    {{ form3.delsubmit }}
</form>

{% endblock %}