{%extends "base.html"%}

{% block sheets %}

{% endblock %}

{% block content %}
<!--jeg fant tabindex med chat det gjør at du kan tabbe deg gjennom siden-->
<h1 tabindex="0">Scores</h1>

<table border="1">
    <tr>
        <th>Plass</th>
        <th>Brukernavn</th>
        <th>Beste poeng</th>
    </tr>
    {% for i in players %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i.get('brukernavn') }}</td>
        <td>{{ i.get('bestescore') }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
